# MongoDB

![memesmongo](../images/mongo.png)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#What-is-MongoDB?" data-toc-modified-id="What-is-MongoDB?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>What is MongoDB?</a></span></li><li><span><a href="#What-is-the-MongoDB-database?" data-toc-modified-id="What-is-the-MongoDB-database?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is the MongoDB database?</a></span></li><li><span><a href="#Database-creation" data-toc-modified-id="Database-creation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Database creation</a></span></li><li><span><a href="#Connection-with-Python" data-toc-modified-id="Connection-with-Python-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Connection with Python</a></span><ul class="toc-item"><li><span><a href="#We-connect-to-the-server" data-toc-modified-id="We-connect-to-the-server-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>We connect to the server</a></span></li><li><span><a href="#We-connect-to-the-database" data-toc-modified-id="We-connect-to-the-database-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>We connect to the database</a></span></li></ul></li><li><span><a href="#Basic-database-management-operations" data-toc-modified-id="Basic-database-management-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic database management operations</a></span><ul class="toc-item"><li><span><a href="#Create-and-delete-collections-from-python" data-toc-modified-id="Create-and-delete-collections-from-python-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Create and delete collections from python</a></span></li><li><span><a href="#We-connect-to-a-specific-collection-to-make-the-queries" data-toc-modified-id="We-connect-to-a-specific-collection-to-make-the-queries-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>We connect to a specific collection to make the queries</a></span></li></ul></li><li><span><a href="#Queries-in-Mongo" data-toc-modified-id="Queries-in-Mongo-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Queries in Mongo</a></span><ul class="toc-item"><li><span><a href="#find_one-method" data-toc-modified-id="find_one-method-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>find_one</code> method</a></span></li><li><span><a href="#find-method" data-toc-modified-id="find-method-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>find</code> method</a></span></li></ul></li><li><span><a href="#projection" data-toc-modified-id="projection-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>projection</a></span></li><li><span><a href="#Other-methods" data-toc-modified-id="Other-methods-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Other methods</a></span><ul class="toc-item"><li><span><a href="#distinct" data-toc-modified-id="distinct-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span><code>distinct</code></a></span></li><li><span><a href="#count" data-toc-modified-id="count-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span><code>count</code></a></span></li><li><span><a href="#sort" data-toc-modified-id="sort-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span><code>sort</code></a></span></li><li><span><a href="#limit" data-toc-modified-id="limit-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span><code>limit</code></a></span></li><li><span><a href="#skip" data-toc-modified-id="skip-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span><code>skip</code></a></span></li></ul></li><li><span><a href="#Typical-query-operators" data-toc-modified-id="Typical-query-operators-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Typical query operators</a></span><ul class="toc-item"><li><span><a href="#Greater-than-/-Less-than" data-toc-modified-id="Greater-than-/-Less-than-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Greater than / Less than</a></span></li><li><span><a href="#exists" data-toc-modified-id="exists-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span><code>exists</code></a></span></li><li><span><a href="#regex" data-toc-modified-id="regex-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span><code>regex</code></a></span></li><li><span><a href="#and" data-toc-modified-id="and-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span><code>and</code></a></span></li><li><span><a href="#or" data-toc-modified-id="or-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span><code>or</code></a></span></li><li><span><a href="#ne" data-toc-modified-id="ne-9.6"><span class="toc-item-num">9.6&nbsp;&nbsp;</span><code>ne</code></a></span></li><li><span><a href="#in" data-toc-modified-id="in-9.7"><span class="toc-item-num">9.7&nbsp;&nbsp;</span><code>in</code></a></span></li><li><span><a href="#nin" data-toc-modified-id="nin-9.8"><span class="toc-item-num">9.8&nbsp;&nbsp;</span><code>nin</code></a></span></li></ul></li><li><span><a href="#Update" data-toc-modified-id="Update-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Query-7-from-the-lab-.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field." data-toc-modified-id="Query-7-from-the-lab-.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field.-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Query 7 from the lab . All the companies that have a null type of value on the category_code field.</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Insert" data-toc-modified-id="Insert-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Insert</a></span></li><li><span><a href="#Extra-info" data-toc-modified-id="Extra-info-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Extra info</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-Materials" data-toc-modified-id="Further-Materials-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Further Materials</a></span></li></ul></div>

## What is MongoDB?
   
MongoDB (humongous, "huge") is an open source, document-oriented, NoSQL database system.
Instead of storing data in tables, as is done in relational databases, MongoDB stores BSON data structures (a specification similar to JSON) with a dynamic schema, making data integration in certain applications easier. easier and faster.
MongoDB is a database suitable for use in production and with many features. This database is widely used in the industry, with implementations in companies such as MTV Network, Craigslist, Foursquare.
Source code is available for operating systems --> Windows, GNU/Linux, OS X and Solaris.

## What is the MongoDB database?

A database, that is, a structured way of storing and accessing data, more specifically, is a NoSQL database.
NoSQL is a very generic term used to describe any data store that does not use the legacy approach of related data tables.
This means that you are storing your data in an organized way, but not in rows and columns. An example of NoSQL databases could be anything from a library card catalog, to a more sophisticated data warehouse like MongoDB.
Since the range of what NoSQL means is so wide, we need to narrow down our definition further.
MongoDB is a NoSQL document database.
This means that data in MongoDB is stored as documents, these documents are in turn stored in what we call document collections, which is why MongoDB is classified as a NoSQL document database.

In conclusion, MongoDB database is a NoSQL document database.

## Database creation
We have seen that through MongoDB compass we could create a database, a collection and import the data in JSON format in a simple way.
We can also do it through the command interface or CLI of mongo.

In [ ]:
#$ mongoimport --db nameOfTheDatabase --collection nameOfTheCollection --file file.json

In [ ]:
# mongoimport --db Ironhack --collection restaurants --file restaurant.json

We are located in the terminal in the folder where we have downloaded the json of "companies". What the command does is import into the ironhack database, within the companies collection, that json. If we enter a database name that does not exist or a collection that does not exist, MongoDB creates it for us automatically.

## Connection with Python

The first thing we are going to need to connect python with the MongoDB database server is to install the following library
```python
#!pip install pymongo
```
And remember: You have to [read the documentation](https://pymongo.readthedocs.io/en/stable/)

In [4]:
from pymongo import MongoClient
import pandas as pd
import time

### We connect to the server
The Mongo server has to be up and is normally running on port 27017, it always connects to this port by default

In [6]:
client = MongoClient("localhost:27017")

In [11]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [13]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local', 'meetech-database']

### We connect to the database

In [14]:
db = client["Ironhack"]

In [18]:
db.list_collection_names()

['restaurants', 'companies']

In [ ]:
#Q: get all the collections within all the dbs :/ 
for i in client.list_database_names():
    print(i.list.collection_names())

In [16]:
companies = db.get_collection("companies")

In [17]:
companies

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'companies')

## Basic database management operations

### Create and delete collections from python

In [20]:
client["Ironhack"].b("Test")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'Test')

### We connect to a specific collection to make the queries

In [21]:
db.drop_collection("Test")

{'nIndexesWas': 1, 'ns': 'Ironhack.Test', 'ok': 1.0}

## Queries in Mongo

To explore what the documents in my collection look like, what shape and what fields they have, I can go to Mongo Compass and explore the collection, or I can choose an unfiltered document.

![undocumento](../images/compass1.png)

In [22]:
c = db.get_collection("restaurants")

In [23]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'restaurants')

In [ ]:
## Let's do it in Python

### `find_one` method
`collection.find_one(filter)`

In [24]:
c.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [25]:
type(c.find_one())

dict

In [26]:
first_doc = c.find_one()
first_doc

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [27]:
first_doc["address"]

'228 City Road'

In [28]:
first_doc.keys()

dict_keys(['_id', 'URL', 'address', 'address line 2', 'name', 'outcode', 'postcode', 'rating', 'type_of_food'])

# We want to search for Thai restaurants

```sql
-- Filter in SQL:
SELECT *
WHERE type_of_food = "Thai"
```

This would be the filter üëáüèª
```python
#¬†Filter in Python
{"type_of_food": "Thai"}
```

In [29]:
c.find_one({"type_of_food": "Thai"})

{'_id': ObjectId('55f14312c7447c3da7051b27'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
 'address': '376 Rayleigh Road',
 'address line 2': 'Essex',
 'name': '@ Thai',
 'outcode': 'SS9',
 'postcode': '5PT',
 'rating': 5.5,
 'type_of_food': 'Thai'}

### `find` method
`collection.find(filter)`

In [36]:
list(c.find({"type_of_food": "Thai"}))[1]["name"]

'@ Thai Restaurant'

In [38]:
new_list_name = []
for i in list(c.find({"type_of_food": "Thai"})):
    new_list_name.append(i["name"])
new_list_name[:6]

['@ Thai',
 '@ Thai Restaurant',
 '@ Thai Restaurant',
 'All Siam Thai Restaurant - Collection Only',
 "Anna's Thai Restaurant",
 "Anna's Thai Restaurant"]

The `pymongo` collection method returns a Cursor:
- a Cursor is an iterator
- a Cursor has the `__next__` method (the `next` function returns the next element in the stream)
- `pymongo` does not fetch information until it is needed
- a Cursor has no `len`.

In [46]:
documents = c.find()

In [47]:
documents

In [99]:
documents.next()

{'_id': ObjectId('55f14312c7447c3da7051b4a'),
 'URL': 'http://www.just-eat.co.uk/restaurants-241piza-m34/menu',
 'address': '88 Manchester Road',
 'address line 2': 'Manchester',
 'name': '2-4-1 Pizza',
 'outcode': 'M34',
 'postcode': '3PR',
 'rating': 5,
 'type_of_food': 'Pizza'}

## projection
When a query is made in MongoDB using `.find()`, what the query returns is the set of documents corresponding to the query. By default, the complete documents with all their fields will be returned. Although we can select the fields of a document that we want to return the query, or what is the same, make a MongoDB Projection.
If we want to select several fields, we simply have to indicate the name of the field followed by a 1. Or use a 0 to eliminate the fields to be displayed:

The `_id` field is returned by default

Syntax:
`collection.find(filter, projection)`

In [79]:
filter_ = {"type_of_food":"Chinese"}
projection = {"_id":0, "postcode":1, "rating":1}

In [81]:
list(c.find(filter_, projection))[:5]

[{'postcode': '3JH', 'rating': 5},
 {'postcode': '3DS', 'rating': 4.5},
 {'postcode': '3DS', 'rating': 4.5},
 {'postcode': '1SN', 'rating': 5},
 {'postcode': '1JU', 'rating': 5}]

In [82]:
everything = list(c.find())

In [83]:
len(everything)

2488

In [86]:
df = pd.DataFrame(everything)
df

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food,holaq,direcci√≥n,otra cosa,holllla,diferente
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5.0,Chinese,NaN,NaN,NaN,NaN,NaN
1,55f14312c7447c3da7051b27,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,Essex,@ Thai,SS9,5PT,5.5,Thai,NaN,NaN,NaN,NaN,NaN
2,55f14312c7447c3da7051b28,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai,NaN,NaN,NaN,NaN,NaN
3,55f14312c7447c3da7051b29,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai,NaN,NaN,NaN,NaN,NaN
4,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6.0,Curry,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2483,55f14313c7447c3da7052518,http://www.just-eat.co.uk/restaurants-bluebree...,56 Bonney Road,Leicester,Blue Breeze Fish Bar,LE3,9NG,5.5,Fish & Chips,NaN,NaN,NaN,NaN,NaN
2484,55f14313c7447c3da7052519,http://www.just-eat.co.uk/restaurants-bluebree...,56 Bonney Road,Leicester,Blue Breeze Fish Bar,LE3,9NG,5.5,Fish & Chips,NaN,NaN,NaN,NaN,NaN
2485,62e0d5aae6e5595aa53d3fb2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,qu√© tal,Paseo de la chopera 14,vale,NaN,NaN
2486,62e0d5aae6e5595aa53d3fb3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paseo de la chopera 14,vale,qu√© tal,NaN
2487,62e0d5aae6e5595aa53d3fb4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paseo de la chopera 14,vale,NaN,qu√© tal

## Other methods

### `distinct`
How many distinct values ‚Äã‚Äãdoes a field have in the entire collection?

In [100]:
c.distinct("rating")

[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6]

In [113]:
c.distinct("type_of_food")[:9]

['Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers']

### `count`
Returns the count of documents that would match a find() query for the collection or view. The db.collection.count() method does not perform the find() operation, but instead counts and returns the number of results that match a query.
Syntax:
     
`collection.count_documents(filter)`

In [104]:
c.count_documents({})

2488

In [111]:
c.count_documents({"type_of_food": "Thai"})

40

In [115]:
c.count_documents({"type_of_food": "Middle Eastern"})

14

### `sort`
We can `sort` the result of a `find`

`1` --> Sort ascending
`-1` --> Descending order

In [127]:
query = {"type_of_food":"Chinese"}
projection = {"name":1, "rating":1, "_id":0}
#sorting = {"rating": -1}

list(c.find(query, projection).sort("rating", 1))[:5]

[{'name': 'Asia Asia', 'rating': 3.5},
 {'name': 'Bamboo Garden Chinese Takeaway', 'rating': 3.5},
 {'name': '88 Noodle Bar', 'rating': 4},
 {'name': 'Amazing', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4}]

In [128]:
list(c.find(query, projection).sort("rating", -1))[:5]

[{'name': '113 Fish Bar', 'rating': 5.5},
 {'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5}]

In [129]:
list(c.find(query, projection).sort("rating"))[:5] # The default is ascend

[{'name': 'Asia Asia', 'rating': 3.5},
 {'name': 'Bamboo Garden Chinese Takeaway', 'rating': 3.5},
 {'name': '88 Noodle Bar', 'rating': 4},
 {'name': 'Amazing', 'rating': 4},
 {'name': 'Arirang', 'rating': 4}]

### `limit`

We can `limit` the result of a `find`

In [140]:
limited_list = list(c.find(query, projection).sort("rating", -1).limit(4)) #-1: DESC
limited_list

[{'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '113 Fish Bar', 'rating': 5.5}]

In [143]:
limited_list[:2] # slicing for display, they're held in memory

[{'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5}]

In [ ]:
limited_list # limit just limits the amount received from mongo.

### `skip`
We can `skip` some results of a `find`
Call the skip() method on a cursor to control where MongoDB starts returning results. This approach can be useful for implementing paginated results.

[FROM THE DOCS](https://www.mongodb.com/docs/manual/reference/method/cursor.skip/)

If using `skip()` with `sort()`, be sure to include at least one field in your sort that contains unique values, before passing results to skip().

Sorting on fields that contain duplicate values may return an inconsistent sort order for those duplicate fields over multiple executions, especially when the collection is actively receiving writes.

In [ ]:
# Filter & projection
c.find({"type_of_food":"Chinese"}, {"name":1,"_id":0, "rating":1})

In [ ]:
# Sort
.sort("rating",1)

In [ ]:
# Limit
.limit(20)

In [ ]:
# Skip
.skip(2)

In [ ]:
# Cast all of it into a list

In [201]:
# All together here
chinese_restaurants = list(c.find({"type_of_food":"Chinese"}, {"name":1,"_id":0, "rating":1}).limit(20))

In [202]:
# Limiting the print so it's not infinite
chinese_restaurants[:10]

[{'name': '.CN Chinese', 'rating': 5},
 {'name': '1 2 3 Chinese', 'rating': 4.5},
 {'name': '1 2 3 Chinese', 'rating': 4.5},
 {'name': '100 Degrees Chinese Restaurant', 'rating': 5},
 {'name': '100 Menu', 'rating': 5},
 {'name': '113 Fish Bar', 'rating': 5.5},
 {'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '1A Wok', 'rating': 5},
 {'name': '328 Chinese Online', 'rating': 5},
 {'name': '333 Chinese Takeaway', 'rating': 5}]

In [205]:
# All together here
chinese_restaurants_skip2 = list(c.find({"type_of_food":"Chinese"}, {"name":1,"_id":0, "rating":1}).skip(3))

In [206]:
chinese_restaurants_skip2[:10]

[{'name': '100 Degrees Chinese Restaurant', 'rating': 5},
 {'name': '100 Menu', 'rating': 5},
 {'name': '113 Fish Bar', 'rating': 5.5},
 {'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '1A Wok', 'rating': 5},
 {'name': '328 Chinese Online', 'rating': 5},
 {'name': '333 Chinese Takeaway', 'rating': 5},
 {'name': '333 Chinese Takeaway', 'rating': 5},
 {'name': '333 Chinese Takeaway1', 'rating': 4.5},
 {'name': '350 Wok', 'rating': 5.5}]

‚ö†Ô∏è: `skip` --> docs

## Typical query operators
Query operators are preceded by the dollar sign `$`.

### Greater than / Less than
Is a numeric field greater than or less than a given value

In [211]:
list(c.find({"rating": {"$gte": 4}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'}]

### `exists`
When <boolean> is true, $exists matches documents that contain the field, including documents where the field value is null. If <boolean> is false, the query returns only documents that do not contain the field

In [237]:
client = MongoClient("localhost:27017")
db = client["Ironhack"]
c = db.get_collection("restaurants")

In [238]:
len(list(c.find({"rating": {"$exists": True}}))) #If the field is present, rating

2548

In [239]:
exists = {"$exists": True}
query = {"rating": exists}


len(list(c.find(query)))

2548

In [240]:
len(list(c.find({"rating": {"$exists": False}})))

0

### `regex`
It offers the possibility of using regular expressions to search for patterns in queries.

In [242]:
query = {"name": {"$regex": ".*Halal.*"}}

In [246]:
list(c.find(query))

[{'_id': ObjectId('55f14312c7447c3da7051c0c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-acha-halal-chinese-cuisine-birmingham/menu',
  'address': '7 Heybarnes Road',
  'address line 2': 'Birmingham',
  'name': 'Acha Halal Chinese Cuisine',
  'outcode': 'B10',
  'postcode': '9HR',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522e9'),
  'URL': 'http://www.just-eat.co.uk/restaurants-beirut-eh8/menu',
  'address': '24 Nicholson Square',
  'address line 2': 'Edinburgh',
  'name': 'Beirut Lebanese Halal Restaurant',
  'outcode': 'EH8',
  'postcode': '9BX',
  'rating': 4.5,
  'type_of_food': 'Lebanese'},
 {'_id': ObjectId('55f14313c7447c3da70522ea'),
  'URL': 'http://www.just-eat.co.uk/restaurants-beirut-eh8/menu',
  'address': '24 Nicholson Square',
  'address line 2': 'Edinburgh',
  'name': 'Beirut Lebanese Halal Restaurant',
  'outcode': 'EH8',
  'postcode': '9BX',
  'rating': 4.5,
  'type_of_food': 'Lebanese'}]

In [248]:
query = {"name": {"$regex": ".*\d+.*"}}
list(c.find(query))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051b2c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'}]

### `and`
Performs a logical AND operation on an array of one or more expressions (for example, <expresi√≥n1>, <expresi√≥n2>, etc.), and selects the documents that satisfy all expressions in the array. The $and operator uses short-circuit evaluation. If the first expression (for example, <expresi√≥n1>) evaluates to false, MongoDB will not evaluate the remaining expressions.

AND Syntax
`find({"$and": [cond1, cond2]})`

In [256]:
filter_1 = {"type_of_food":"Pizza"} # to be pizza place
filter_2 = {"rating": {"$gt": 3}}#rating higher than 3
filter_3 = {"name":{"$regex": ".*\d+.*"}}

In [ ]:
list(c.find({"$and": [{"type_of_food":"Pizza"}, {"rating": {"$gt": 3}}, {"name":{"$regex": ".*\d+.*"}}]}).limit(3))

In [266]:
all_filters_2 = [filter_1, filter_2, filter_3]

In [260]:
all_filters = [{"type_of_food":"Pizza"}, {"rating": {"$gt": 3}}, {"name":{"$regex": ".*\d+.*"}}]

In [261]:
list(c.find({"$and": all_filters}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'}]

In [252]:
c.find(filter_1)

In [264]:
# It does work like this, but maybe not reccomended
list(c.find({"type_of_food": "Chinese", "rating": {"$gte":5},"name": {"$regex": ".*\d*."}}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [255]:
len(list(c.find(filter_1)))

500

### `or`
The or operator performs a logical OR operation on an array of two or more expressions and selects the documents that satisfy at least one of the expressions.
The operator $or tiene la siguiente sintaxis:      
`colecci√≥n.find({"$or": [condition1, condition, condition3 ]})`

In [272]:
query = {"type_of_food": "Chinese"}
len(list(c.find(query)))

174

In [273]:
query_2 = {"type_of_food":"Thai"}
len(list(c.find(query_2)))

40

In [278]:
list(c.find({"$or":[query, query_2]}))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'}]

In [285]:
#¬†Good Thai
thai = {"type_of_food":"Thai"}
good = {"rating": {"$gt": 4}}



#Spanish
spanish = {"type_of_food":"Spanish"}

In [287]:
#¬†Good thai OR Spanish

list(c.find({"$or": [{"$and": [thai, good]}, spanish]}))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

### `ne`
not equal
Selects the documents in which the value of the field is not equal to the specified value. This includes documents that do not contain the field.

In [299]:
#not_pizza = 
rating = {"rating": {"$gte": 5}}

list(c.find({"type_of_food": {"$ne":"pizza"}, "rating":6}))[2]

{'_id': ObjectId('55f14312c7447c3da7051bbc'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aarthi-sw19/menu',
 'address': '5 Kingston Road',
 'address line 2': 'London',
 'name': 'Aarthi',
 'outcode': 'SW19',
 'postcode': '1JX',
 'rating': 6,
 'type_of_food': 'Curry'}

### `in`
The in operator selects documents in which the value of a field is equal to any value in the specified array. To specify a $in, use the following syntax:
```python
{ field: { $in expression: [<value1>, <value2>, ... <valueN> ] } }
 ```

In [301]:
list(c.find({"rating": {"$in": [1, 3, 5]}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b2c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'}]

### `nin`

Syntax:
```python
{ field: { $nin: [ <valor1>, <valor2> ... <valorN> ]} }
```

not in selects the documents in which

- field value is not in the specified array
- the field does not exist.

In [302]:
list(c.find({"rating": {"$nin": [1, 3, 5]}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

If I don't want to be given those that don't have that field, I would have to do an AND

## Update
Modifies an existing document or documents in a collection. The method can modify specific fields of an existing document(s) or replace an existing document entirely, depending on the update parameter.
Beware, this action cannot be undone.
Syntax:
```python
collection.update_many(condition/filter, update)
```

We can update a field with `$set` y con `$unset` we delete it

In [304]:
list(c.find({"rating": 2}))

[{'_id': ObjectId('55f14313c7447c3da705246b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigboyzpizza/menu',
  'address': '112 Windermere Avenue',
  'address line 2': 'Wembley',
  'name': 'Big Boys Pizza',
  'outcode': 'HA9',
  'postcode': '8RB',
  'rating': 2,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705246c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigboyzpizza/menu',
  'address': '112 Windermere Avenue',
  'address line 2': 'Wembley',
  'name': 'Big Boys Pizza',
  'outcode': 'HA9',
  'postcode': '8RB',
  'rating': 2,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705246d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigboyzpizza/menu',
  'address': '112 Windermere Avenue',
  'address line 2': 'Wembley',
  'name': 'Big Boys Pizza',
  'outcode': 'HA9',
  'postcode': '8RB',
  'rating': 2,
  'type_of_food': 'Pizza'}]

In [305]:
c.update_many(
    {"rating":2}, 
    {"$set": {"rating":100}}
)

In [306]:
list(c.find({"rating":100}))

[{'_id': ObjectId('55f14313c7447c3da705246b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigboyzpizza/menu',
  'address': '112 Windermere Avenue',
  'address line 2': 'Wembley',
  'name': 'Big Boys Pizza',
  'outcode': 'HA9',
  'postcode': '8RB',
  'rating': 100,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705246c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigboyzpizza/menu',
  'address': '112 Windermere Avenue',
  'address line 2': 'Wembley',
  'name': 'Big Boys Pizza',
  'outcode': 'HA9',
  'postcode': '8RB',
  'rating': 100,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705246d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigboyzpizza/menu',
  'address': '112 Windermere Avenue',
  'address line 2': 'Wembley',
  'name': 'Big Boys Pizza',
  'outcode': 'HA9',
  'postcode': '8RB',
  'rating': 100,
  'type_of_food': 'Pizza'}]

## Query 7 from the lab . All the companies that have a null type of value on the category_code field.

## Delete
Removes from a collection all documents that match the filter.
Syntax:
```python
c.delete_many(condition/filter)
```

In [307]:
c.delete_many({"rating":{"$lte": 1}})

In [311]:
list(c.find({"rating": 1}))

[]

##¬†Insert

We insert documents in the collection
Syntax
```python
db.collection.insert()
```

In [313]:
doc = {"hey":"hi", "hello":"789", "1000":1}

In [314]:
c.insert_one(doc)

In [315]:
list(c.find({"hey":"hi"}))

[{'_id': ObjectId('62e1201070eca9b85aa487ba'),
  'hey': 'hi',
  'hello': '789',
  '1000': 1}]

## Extra info
Nested query fields

```javascript
const car = {make: "fiat", year:1900, 
             randomkey: {random: "nested valueeee"}}

console.log(car)
console.log(car.make)
console.log(car.randomkey.random)


`key.value.nested.value` 

```


JSON
JavaScript Object Notification

same type of data, different name

## Summary
Your turn, what have we learned today?

- Installing DB, and importing info
- Connection to server
- Explore collections through Compass
- Operators: `$or`, `$ne`, `$and` -> `$operators`
- Disctinct values, counts, sorting, limiting, skipping ‚ùì
- Find_one, find_many
- CRUD: Create, Read, Update, Delete
- Regex everywhere
- If the key/field is present on the document: `$exists` 
- Insert
- Sort by asc, desc using 1, -1: sort by multiple things
- Count documents with filter
- Mongo doesn't care about docuemnts structure
- Cursor: don't need how it wors, just that mongo makes it efficient by returning that instead of the proper Python list
- Missing values: null, https://www.mongodb.com/docs/manual/reference/operator/query/type/
- Mongo docs: https://www.mongodb.com/docs/
- Project


Filter -> Where in SQL
Projection -> Select in SQL
Limit -> Limit in SQL

## Further Materials
- Mongo courses developed directly by MongoDB (free and VERY COMPLETE) [HERE](https://university.mongodb.com/)
- What is mongo: [advanced interesting concepts not seen in class](https://openwebinars.net/blog/what-is-mongodb/)
- Beginner`s guide mongo with [python](https://www.analyticsvidhya.com/blog/2020/02/mongodb-in-python-tutorial-for-beginners-using-pymongo/)