# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

[PEP-8](https://peps.python.org/pep-0008/)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cell-types-in-Jupyter-Notebook" data-toc-modified-id="Cell-types-in-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cell types in Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#Markdown" data-toc-modified-id="Markdown-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Markdown</a></span></li><li><span><a href="#Code" data-toc-modified-id="Code-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Code</a></span></li><li><span><a href="#Shortcuts" data-toc-modified-id="Shortcuts-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Shortcuts</a></span></li></ul></li><li><span><a href="#Integer-numbers" data-toc-modified-id="Integer-numbers-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Integer numbers</a></span></li><li><span><a href="#Real-numbers-(floats)" data-toc-modified-id="Real-numbers-(floats)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Real numbers (floats)</a></span></li><li><span><a href="#Basic-operations" data-toc-modified-id="Basic-operations-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Basic operations</a></span></li><li><span><a href="#Strings-(character-strings)" data-toc-modified-id="Strings-(character-strings)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Strings (character strings)</a></span></li><li><span><a href="#Casting-in-Python" data-toc-modified-id="Casting-in-Python-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Casting in Python</a></span><ul class="toc-item"><li><span><a href="#Implicit-conversion" data-toc-modified-id="Implicit-conversion-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Implicit conversion</a></span></li><li><span><a href="#explicit-conversion" data-toc-modified-id="explicit-conversion-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>explicit conversion</a></span><ul class="toc-item"><li><span><a href="#Convert-float-to-int" data-toc-modified-id="Convert-float-to-int-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Convert float to int</a></span></li><li><span><a href="#Convert-a-float-to-a-string" data-toc-modified-id="Convert-a-float-to-a-string-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Convert a float to a string</a></span></li><li><span><a href="#Convert-string-to-int" data-toc-modified-id="Convert-string-to-int-6.2.3"><span class="toc-item-num">6.2.3&nbsp;&nbsp;</span>Convert string to int</a></span></li></ul></li></ul></li><li><span><a href="#Input-and-output-data" data-toc-modified-id="Input-and-output-data-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Input and output data</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Format</a></span><ul class="toc-item"><li><span><a href="#Format---1" data-toc-modified-id="Format---1-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Format - 1</a></span></li><li><span><a href="#Format---2" data-toc-modified-id="Format---2-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Format - 2</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#String-methods" data-toc-modified-id="String-methods-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>String methods</a></span></li></ul></li><li><span><a href="#Data-structures" data-toc-modified-id="Data-structures-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Data structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#list-methods" data-toc-modified-id="list-methods-10.1.1"><span class="toc-item-num">10.1.1&nbsp;&nbsp;</span>list methods</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#sets" data-toc-modified-id="sets-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Summary</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Python:-data-types-&amp;-data-structures" data-toc-modified-id="Python:-data-types-&amp;-data-structures-11.0.1"><span class="toc-item-num">11.0.1&nbsp;&nbsp;</span>Python: data types &amp; data structures</a></span></li><li><span><a href="#Markdown-&amp;-jupyter-tricks-and-tips" data-toc-modified-id="Markdown-&amp;-jupyter-tricks-and-tips-11.0.2"><span class="toc-item-num">11.0.2&nbsp;&nbsp;</span>Markdown &amp; jupyter tricks and tips</a></span></li></ul></li></ul></li></ul></div>

## Cell types in Jupyter Notebook

###¬†Markdown

[This is google](www.google.com)

### Code

In [2]:
#print/output

In [3]:
def hello ():
    print("hello")
hello()

hello

In [4]:
print("hi")
a = 5
a

hi

5

### Shortcuts

To run the cell

- `ctrl + enter`
- `shift + enter` #this one runs the cell and jumps to the next one

# Type of data
## Integer numbers

In [5]:
2

2

In [6]:
number = 500

In [ ]:
number

In [8]:
type(number)

int

## Real numbers (floats)

In [ ]:
2.6

In [10]:
a_float = 10

In [11]:
type(a_float)

int

## Basic operations

In [12]:
#¬†sum
number + a_float

510

In [13]:
#¬†substraction
number - a_float

490

In [14]:
# product
number * a_float

5000

In [15]:
# division
number / a_float

50.0

In [16]:
#¬†floor division

number // a_float #¬†whole int

50

In [17]:
#¬†modulo

10 / 3 #remainder

3.3333333333333335

In [18]:
10 % 3

1

In [19]:
# power

2 ** 2

4

In [20]:
#¬†rounding a number
print(round(2.35465)) #rounds down
round(2.65465) #¬†rounds up

2

3

In [21]:
import math

In [22]:
# rounding down

In [23]:
math.floor(67678.9878)

67678

In [24]:
# rounding up
math.ceil(2323.2323)

2324

## Strings (character strings)

In [25]:
"agfzgsdfsG "

'agfzgsdfsG '

In [26]:
"12122"

'12122'

In [27]:
type("12122")

str

In [28]:
a_string = 'single quotes are still a string'

In [29]:
type(a_string)

str

In [30]:
"""This is a 
multi-line
comment
"""

# \n is a line break

'This is a \nmulti-line\ncomment\n'

In [31]:
multi_line_string = """This is a 
multi-line
comment
"""

In [32]:
type(multi_line_string)

str

In [33]:
a_string * 2 #¬†you can multiply strings

'single quotes are still a stringsingle quotes are still a string'

In [34]:
a_string + " " + a_string + "2" #¬†you can add things in between

'single quotes are still a string single quotes are still a string2'

In [35]:
a_string * 2.4

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
heigth_average = 1.80

first_format = f"The height of the students is {heigth_average}"
second_format = "The height of the students is {} <ssdf <S {} SDFSDFDS F{} ASFSDFSDF {}".format(heigth_average, var2, var3, var4) # BAD EXAMPLE, it won't run

In [ ]:
print(first_format)
print(second_format)

## Casting in Python

Casting means converting one data type to another. We have previously seen types such as int, string or float. Well, it is possible to convert from one type to another.
But first of all, let's see the different types of cast or type conversion that can be done. There are two:

**Implicit conversion:** This is done automatically by Python. It occurs when we perform certain operations with two different types.

**Explicit conversion:** We do this explicitly, such as converting str to int with str().

In [ ]:
type("sdsd")

In [ ]:
my_variable = "my variable"
type(my_variable)

### Implicit conversion
This type conversion is done automatically by Python, practically without our realizing it. Still, it's important to know what's going on underneath to avoid future problems.

The simplest example where we can see this behavior is the following:

In [ ]:
a = 5 #int
b = 2.5 #float

c = a + b
print(c)
type(c)

- a is an int
- b is a float

But if we add a and b and store the result in a, we can see how internally Python has converted the int to float to perform the operation, and the resulting variable is float.
However, there are other cases where Python is not as smart and is not capable of performing the conversion. If we try to add an int to a string, we will get a TypeError.

### explicit conversion
On the other hand, we can make conversions between types or castings explicitly using different functions provided by Python. The most used are the following:

`float(), str(), int(), list(), set()`

#### Convert float to int
To convert from float to int we must use int(). But be careful, because the integer type cannot store decimals, so we will lose whatever is after the decimal point.

In [ ]:
number_age = "18"

In [36]:
int(number_age)

NameError: name 'number_age' is not defined

In [37]:
this_float = 2.3
this_other_float = 2.9

In [38]:
int(this_other_float)

2

In [39]:
int(this_float)

2

#### Convert a float to a string
We can convert a float to a string with str(). We can see in the following code how the type of a changes after the cast.

In [40]:
str(this_other_float)

'2.9'

#### Convert string to int
Like the conversion to float above, we can convert from string to int using int().

In [41]:
new_int = 9

In [42]:
float(new_int)

9.0

In [43]:
my_set = (2, 3, 5)

In [44]:
list(my_set)

[2, 3, 5]

## Input and output data
### Input
To assign a variable to a value entered by the user at the console, use the statement
``python
input(message) : Displays the message of the string by the terminal and returns a string with the input
  ```

In [ ]:
variable_age = int(input("Input your age: "))
type(variable_age)
print(variable_age)

In [ ]:
my_new_value = int(variable_age)
type(my_new_value)

### Print
The print() function prints the specified message to the screen, or to another standard output device.

The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [ ]:
print("dfdfdf")
print(12323)

In [ ]:
a_list = ["things", 232.3]
print(a_list)

In [ ]:
for i in a_list:
    print(i)
    print(type(i))

In [ ]:
for i in a_list:
    print(f"The type of {i} is {type(i)}")

In [ ]:
type(print("sdsd"))

In [ ]:
#Some functions will return NoneType if they return a print or if they don't have a return

## Format

### Format - 1

In [ ]:
placeholder = 1
f"The value of the variable is {placeholder}"

### Format - 2

In [ ]:
my_variable = 3
"The other option is {}".format(my_variable)

In [ ]:
formatted_string = "The other option is {}".format(my_variable)
formatted_string

In [ ]:
type("8Ô∏è‚É£")

## Strings

### String methods
Methods are actions or functions that an object can perform. Just as Python offers a series of ‚Äúbuilt-in‚Äù functions, it also offers us a set of already created methods. These methods depend on the type of object we are working with.

In [ ]:
help(str)

We are going to explain in class some of the most used methods during bootcamp, keep in mind that you always have to keep in mind the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods )

In [ ]:
example_string = "this is My String for testing"

`capitalize` Returns a copy of the string with its first character uppercase and the rest lowercase.

In [ ]:
example_string.capitalize()

`upper` Returns a copy of the string with all characters in uppercase

In [ ]:
example_string.upper()

In [ ]:
example_string = example_string.upper()
example_string

`isupper` Returns True if all uppercase characters in the string are uppercase and there is at least one uppercase character, False otherwise.

In [ ]:
example_string.isupper()

`lower` Returns a copy of the string with all lowercase characters

In [ ]:
example_string = example_string.lower()

`islower` is like isupper but....we check for lowercase

In [ ]:
example_string.islower()

`swapcase` Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

In [ ]:
example_string_2 = "tHis Is a SSSString"

In [ ]:
example_string_2.swapcase()

`title` Returns an uppercase version of the string in which words start with an uppercase character and all other characters are lowercase.

In [ ]:
example_string_2.title()

`join(iterable)`

Returns a string that is the concatenation of the strings in the iterable. A TypeError will be raised if there are any non-string values ‚Äã‚Äãin the iterable, including bytes objects. The separator between elements is the string provided by this method.

In [ ]:
a_list = ["1", "2", "4"]

In [ ]:
"‚òπÔ∏è".join(a_list)

`startswith` Returns True if the string starts with the prefix, otherwise returns False. prefix can also be a tuple of prefixes to search for. With optional start, check the string starting at that position. With optional end, stop matching the string at that position.

In [ ]:
phone_number = "+3460000000"

In [ ]:
phone_number.startswith("+")

`endswith` Returns True if the string ends with the specified suffix, otherwise returns False.

In [ ]:
id_example = "0000000X"

In [ ]:
id_example.endswith("X")

In [ ]:
list_of_numbers = [1, 2, 3, 4]

In [ ]:
list_of_numbers[-1] == int("4")

`str.lstrip([chars])`
Returns a copy of the string with the leading characters removed. The chars argument is a string that specifies the set of characters to remove. If omitted or none present, the chars argument removes whitespace by default. The chars argument is not a prefix, but all combinations of its values ‚Äã‚Äãare removed:

In [ ]:
"  sdsdsd ".lstrip()

`lstrip` and `rstrip` do the same thing but with leading and trailing spaces

In [ ]:
"  sdsdsd ".rstrip()

In [ ]:
"  sdsdsd ".strip()

`str.replace(old, new[, count])`
Returns a copy of the string with all occurrences of the substring old replaced by new. If the optional count argument is given, only the first occurrences of count are replaced.

In [ ]:
"  sdsdsd ".replace("s", "‚úÖ")

`str.split(sep=None)`
Returns a list of the words in the string, using sep as the delimiter string.

In [ ]:
"this string-is a test-string".split("-")

In [ ]:
new_list_splitted = "  sdsdsd sdsdsdsd".split()
new_list_splitted

## Data structures
There are 4 elements in python that allow us to store collections of data.
- Lists
- Tuples
- sets
- Dictionaries

### Lists

Lists can contain different types of data

In [ ]:
this_is_a_list = [1, 0.5, "stringggg", "‚ö†Ô∏è", True, False, [2, 3, "another string"]]

In [ ]:
#help(list)

#### list methods
`append` Adds an item to the end of the list.

In [ ]:
len(this_is_a_list)

In [ ]:
this_is_a_list.append(3)

In [ ]:
this_is_a_list

In [ ]:
len(this_is_a_list)

In [ ]:
this_is_a_list.append(["asasas", 90000])

In [ ]:
this_is_a_list

In [ ]:
len(this_is_a_list)

`extend` Extend the list by adding all the items in the iterable to it

In [ ]:
this_is_a_list.extend([90, 80, 34, 34])

In [ ]:
#QUESTION: ACCESSING NESTED ELEMENTS IN LISTS

#Access the elemnt of a list by index
lis_nums = [90, 80, 34, 90]
lis_nums[3]

#Access element of a list by index AND THEN access the element inside of it (nested list)
lis_nums_nest = [90, 80, [2, 3, 4]]
lis_nums_nest[2]
lis_nums_nest[2][2]

In [ ]:
this_is_a_list

In [ ]:
print(this_is_a_list)

`insert` Inserts an item at a given position. The first argument is the index of the item to be inserted before, so a.insert(0, x) inserts at the beginning of the list and a.insert(len(a), x) is equivalent to a.append(x ).

In [ ]:
this_is_a_list.insert(2, "WHATEVER")

In [ ]:
print(this_is_a_list)

`remove` Removes the first item in the list whose value is x. Throws a ValueError if no such item exists.

In [ ]:
this_is_a_list.remove("WHATEVER")
print(this_is_a_list)

`pop` Pops the item at the given position from the list and returns it. If no index is specified, a.pop() pops and returns the last element in the list.

In [ ]:
i_popped = this_is_a_list.pop(0)
print(this_is_a_list)
i_popped

In [ ]:
# Q: Does remove remove all the ocurrences of X?

new_list = [90, 90, 23]
new_list.remove(90)
print(new_list)

In [ ]:
new_list.remove(90)
new_list

In [ ]:
new_list.pop(0)

`clear` Removes all elements from the list

In [ ]:
a_whole_new_list = [2334, 3434, "sdsd"]
a_whole_new_list.clear()
print(a_whole_new_list)

`count` Returns the number of times x appears in the list.

In [ ]:
list_for_counting = [1, 4, 5, 5, 5, 6]
len(list_for_counting)

In [ ]:
list_for_counting.count(5)

`list.sort()` See also [sorted()](https://docs.python.org/3/howto/sorting.html).

In [ ]:
list_for_sorting = [90, 13, 56, 0]

In [ ]:
list_for_sorting.sort()
list_for_sorting

`list.reverse()`
Reverses list items in place.

In [ ]:
list_to_reverse = [1, 2, 3]
print(list_to_reverse.reverse())
list_to_reverse

In [ ]:
list_strings = ["a list", "of", "Strings", "A", "a", "0", "6Ô∏è‚É£", "üê∂"]

In [ ]:
list_strings.sort()
list_strings

`slicing` is not a method as such, but we can play with the elements of the lists and their positions

In [ ]:
len(list_strings)
list_strings[0:2] #0, 1, two doesn't include it

In [ ]:
list_strings[0:]

In [ ]:
list_strings[-3]

In [ ]:
list_strings[::-1] #equals to .reverse()

In [ ]:
list_strings[::-2] #equals to .reverse(), you can specify how many steps you want it to take. "Each two"

In [ ]:
# for i in range(beginning, end, amount_of_steps)
# The same way we will be able to do this in for loops with ranges, we can do with slicing

In [ ]:
list_strings[::]

In [ ]:
# Q: overwriting lists

a = [0 , 1, 2, 3]
b = a

b.append("something")

print(a)
print(b)

In [ ]:
c = b.copy()
c #use copy to avoid overwriting

In [ ]:
# Q: can you save the result of slicing?

a_list = [0, 1, 2, 3]
sliced_a_list = a_list[0:2]
sliced_a_list

### Tuples

Tuples in Python are a data type or structure that allows you to store data in much the same way as lists, except that they are immutable. So we will not be able to:
 - change your items
 - add new values

In [ ]:
a_tuple = (1, 2, 4)

In [ ]:
type(a_tuple)

In [ ]:
a_tuple.remove(2)

Advantages of tuples
 * faster
 * The data cannot be modified
 
It is also possible that we use tuples when we want to return multiple values ‚Äã‚Äãin the `return` of a function

In [ ]:
something_to_work_with = list(a_tuple)
type(something_to_work_with)

In [ ]:
# Often times you'll find tuples as the result/return of functions

In [ ]:
def operations (a, b):
    return a+b, "gsddsd"

In [ ]:
operations(2, 3)

In [ ]:
operations(2, 3)[0]

In [ ]:
#Q: Can tuples hold any kind of data?

my_new_tuple = (True, 2, "stri", 5.6)
my_new_tuple

In [ ]:
#Q, Edgar: 

new_tuple = (1, 2)
casting_tuple = list(new_tuple)
print(type(casting_tuple))

### sets
Sets are used to store multiple elements in a single variable. Unlike lists, they contain single elements and do not have an order.

In [ ]:
duplicated_list = [1, 1, 1, 2]

In [ ]:
# goal [1, 2]

print(set(duplicated_list))

In [ ]:
type(set(duplicated_list))

`add` Adds an element to the set

In [ ]:
set_1 = {1, 2, 2, 3, 5, 4, 0}
set_1

In [ ]:
a_list = [1, 2, 2, 3, 5, 4, 0]
set(a_list)

In [ ]:
a_list_of_strings = ["Fer", "Pau", "Clara", "Clara", True, True, False]
unique_names = set(a_list_of_strings)
unique_names

`clear` Clears all elements of the set

In [ ]:
unique_names.clear()
unique_names

`copy` Returns a copy of the set

In [ ]:
this_is_a_copy = unique_names.copy()
this_is_a_copy

In [ ]:
this_is_a_copy.add("element")
print(this_is_a_copy)
print(unique_names)

In [ ]:
#help(set)

`difference()` Returns a set containing the difference between two or more sets. What it actually returns are the elements that are ONLY in the first set.

In [ ]:
set_10 = {1, 2, 3, 4, 5}
set_15 = {1, 2, 10, 3, 4, 5}

In [ ]:
set_10.difference(set_15) #All of the elements that are only present in the first set

`discard` Removes the specified element

In [ ]:
set_10.discard(1)

In [ ]:
set_10

`remove` Removes the specified element

In [ ]:
set_10.discard(2)
set_10

`intersection()` Returns a set that is the intersection of two or more sets

In [ ]:
set_10.intersection(set_15)

`issubset` Returns whether or not another set contains this set

In [ ]:
set_10 = {1, 2, 3, 4, 5}
set_15 = {1, 2, 3, 4, 5, 10, 20}


set_10.issubset(set_15)

In [ ]:
set_10 = {1, 2, 3, 4, 5, 0} #There is at least one element not included in set_15, so it returns False
set_15 = {1, 2, 3, 4, 5, 10, 20}


set_10.issubset(set_15)

`issuperset` Returns whether this set contains another set or not

In [ ]:
set_10 = {1, 2, 3, 4, 5} #There is at least one element not included in set_15, so it returns False
set_15 = {1, 2, 3, 4, 5, 10, 20}


set_15.issuperset(set_10)

`pop` Removes an element from the set. It eliminates the last element of a set and, in addition, it returns it to us. Differentiates from lists that have no parameters to pass an index to

In [ ]:
set_10.pop()

In [ ]:
set_10

`union` Returns a set containing the union of sets

In [ ]:
set_10.union(set_15)

`update` Updates the set with another set, or any other iterable

In [ ]:
set_10.update(set_15)
set_10

### Dictionaries

In [ ]:
pau = ["Pau", "barcelona", 20, "TA", ["Laura", "paco", "oscar"]]

In [ ]:
pau

In [ ]:
pau = {
    "name": "pau",
    "location": "Barcelona",
    "age": 20,
    "friends": ["laura", "paco", "oscar"]
}

In [ ]:
#pau = {"name": "pau", "location":"barcelona"} #spacing doesn't matter

In [ ]:
pau["location"]

In [ ]:
pau["friends"][0]

In [ ]:
pau["age"]

`clear` Removes all elements from the dictionary

In [ ]:
#pau.clear()

`items()` Returns a list containing one tuple for each key-value pair

In [ ]:
pau.items()

`keys` Returns a list of the keys in the dictionary

In [ ]:
pau.keys()

`values` Returns a list of all values ‚Äã‚Äãin the dictionary

In [ ]:
pau.values()

In [ ]:
# ITEMS: key & value

`pop()` Removes the element with the specified key. It returns me the value.

In [ ]:
pau.pop("name")

In [ ]:
pau

`popitem` Removes the last inserted key-value pair

In [ ]:
pau.popitem()

In [ ]:
pau

`update` Updates the dictionary with the specified key-value pairs

In [ ]:
pau.update({"name": "pau"})

In [ ]:
pau

In [ ]:
a_string = "hello"
a_string * 2

## Summary
It's your turn, what have we learned today?

#### Python: data types & data structures


- Checking the type with `type()`
- We can `print()` 
- We can `append` for lists
- We can use `extend` 
- We can cast floats into int
- Import libraries, like math
- We can remove items: pop, remove, do it by default, by index
- Tuples are immutable
- Sets have unique values
- We can find commmon elements between sets by using `intersect` 
- We can sort lists
- We can multiply strings by int, not by floats
- User inputs are always strings (unless we cast them)
- We can combine strings with ints by using format; any variable
- We can check for subsets and supersets
- Dictionaries: Check for keys, remove values
- `copy()` to not overwrite
- Nested `index[0][1]` & for slicing
- List of tuples of different elements emojis üï∫
- Make a tuple into a list: casting, forcing change of the type
- Casting in general: int, float, str, list, sets
- Substitution of values in strings: `.replace()`




#### Markdown & jupyter tricks and tips

- Jupyter notebook cells: Y for code cell, M for Markdown, B for cell below, A for cell above, shift+enter for running and going to the next cell, ctrl + enter for running, alt + enter: runs & insert
- `Shift + tab` opens up a popup window with a bit of docs
- Kernel: might want to reset if we overwrite variables
- Using hashtags for titles in markdown